@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Vazir-Black;
    src: url("/fonts/Vazir-Black.eot")format("eot"),
        url("/fonts/Vazir-Black.woff")format("woff"),
        url("/fonts/Vazir-Black.woff2")format("woff2");
    font-weight: medium;
}

@font-face {
    font-family: Vazir-Medium;
    src: url("/fonts/Vazir-Medium.eot")format("eot"),
        url("/fonts/Vazir-Medium.woff")format("woff"),
        url("/fonts/Vazir-Medium.woff2")format("woff2");
    font-weight: medium;
}

@font-face {
    font-family: Vazir-Light;
    src: url("/public/fonts/Vazir-Light.woff")format("eot"),
        url("/public/fonts/Vazir-Light.woff")format("woff"),
        url("/fonts/Vazir-Light.woff2")format("woff2");
    font-weight: medium;
}

@font-face {
    font-family: Vazir-Regular;
    src: url("/fonts/Vazir-Regular.eot")format("eot"),
        url("/fonts/Vazir-Regular.woff")format("woff"),
        url("/fonts/Vazir-Regular.woff2")format("woff2");
    font-weight: medium;
}

* {
    font-family: Vazir-Medium;
}

a {
    @apply hover:text-orange
}

body {
    @apply bg-gray-bg overflow-x-hidden
}

html {
    overflow-x: hidden;
}

.extra-menu-parent:hover>.extra-submenu {
    @apply lg:flex
}

.menu-desktop:hover ul {
    @apply flex
}

::-webkit-scrollbar {
    @apply bg-white w-[15px]
}

::-webkit-scrollbar-thumb {
    @apply bg-blue rounded-full
}

.btn-slider-next {
    @apply text-black hover:text-white text-xl hover:bg-orange bg-white rounded-r-full shadow-orange p-5 opacity-60 hover:opacity-100 transition-all duration-200
}

.btn-slider-prev {
    @apply text-black hover:text-white text-xl hover:bg-orange bg-white rounded-l-full shadow-orange p-5 opacity-60 hover:opacity-100 transition-all duration-200
}

.animate-banner:hover {
    animation: anim-banner 1s ease-in infinite;
}

@keyframes anim-banner {
    30% {
        transform: translateX(10px);
    }

    70% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

.table-cart {
    @apply w-full text-center
}

.table-cart tbody tr td {
    @apply text-gray-500 p-2
}

.table-cart thead {
    @apply invisible md:visible hidden md:block
}

.table-cart thead tr th {
    @apply p-2 border-none md:border-2
}
.table-cart thead tr{
    @apply flex justify-between
}
.table-cart tbody tr {
    @apply border flex flex-col items-center justify-between md:flex md:justify-between md:flex-row
}

.table-cart tbody {
    @apply w-full grid grid-cols-2 gap-2 justify-center md:flex md:flex-col
}